/* CSS RESET BELOW */

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: grey;
}
  
/* CSS RESET ABOVE */

.container {
    display: flex;
}

.gridSquare {
    background-color: white;
    border: 1px solid black;
    width: 30px;
    height: 30px;
}

.hoveredSquare {
    background-color: aqua;
}