/* CSS RESET BELOW */

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: grey;
}
  
/* CSS RESET ABOVE */

.container {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
}

.gridContainer {
    display: flex;
    flex-grow: 1;
}

.gridSquare {
    flex-grow: 1;
    background-color: white;
    border: solid 1px black;
}

.hoveredSquare {
    background-color: aqua;
}