/* CSS RESET BELOW */

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: grey;
}
  
/* CSS RESET ABOVE */

.container {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 700px;
}

.gridContainer {
    display: flex;
    flex-grow: 1;
}

.gridSquare {
    flex-grow: 1;
    background-color: white;
    border: solid 1px black;
}

.hoveredSquare {
    background-color: aqua;
}

.resetButton {
    margin-bottom: 50px;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    background-color: rgb(227, 65, 65);
}