
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 320px;
    width: 320px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.column {
    box-sizing: border-box;
    border: solid black 1px;
    height: 20px;
    width: 20px;
}

.hovered{
    background-color: aqua;
}